<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do</title>
    <script src="https://kit.fontawesome.com/0ae8c6af08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>To do</h1>
        <p>Date sort: <a href="/edit?id=<%= taskId %>&page=<%= currentPage %>&sort=asc">Asc</a> <a href="/edit?id=<%= taskId %>&page=<%= currentPage %>&sort=desc">Desc</a></p>
      </header>
      <main>
        <ul>
          <% if (tasks.length > 0) { %>
            <% tasks.forEach((task)=> { %>
              <% const date = task.dueDate; %>
              <% const year = date.getFullYear(); %>
              <% let month = date.getMonth() + 1; %>
              <% if (month < 10) { month = '0' + month; } %>
              <% let day = date.getDate(); %>
              <% if (day < 10) { day = '0' + day; } %>
              <% let convertedDate = `${year}-${month}-${day}`; %>
              <li>
                <% if (taskId != task.id) { %>
                  <form class="delete-form" action="/delete?id=<%= task.id %>&page=<%= currentPage %>&sort=<%= currentSort %>" method="post">
                    <label><input type="checkbox" name="checkbox" onChange="this.form.submit()"><%= task.name %></label>
                  </form>
                  <div>
                    <p>Due: <%= convertedDate %></p>
                    <div class="task-links">
                      <a href="/edit?id=<%= task.id %>&page=<%= currentPage %>&sort=<%= currentSort %>"><i class="far fa-edit fa-lg"></i></a>
                      <a href="/delete?id=<%= task.id %>&page=<%= currentPage %>&sort=<%= currentSort %>"><i class="fas fa-times-circle fa-lg"></i></a>
                    </div>
                  </div>
                <% } %>
                <% if (taskId == task.id) { %>
                  <form class="edit-form" action="/edit?id=<%= task.id %>&page=<%= currentPage %>&sort=<%= currentSort %>" method="post">
                    <div>
                      <label for="editName">Task: </label>
                    <input type="text" name="editName" id="editName" value="<%= task.name %>">
                    </div>
                    <div>
                      <label for="editDate">Due: </label>
                    <input
                      type="date" 
                      name="editDate"
                      value="<%= convertedDate %>"
                    />
                    </div>
                    <div>
                      <a href="/?page=<%= currentPage %>&sort=<%= currentSort %>">Cancel</a>
                      <button class="save-button" type="submit">Save</button>
                    </div>
                  </form>
                <% } %>
            </li>
            <% });%>
          <% } %>
          <% if (totalDocuments == 0) { %>
            <li>You have no tasks.</li>
          <% } %>
        </ul>
        <div class="pages-div">
        <% if (currentPage > 1) { %>
          <a id="previous-link" href="/?page=<%= currentPage - 1 %>&sort=<%= currentSort %>">Previous page</a>
          <% } else { %>
            <div></div>
          <% } %>
        <% if (currentPage < totalPages) { %>
          <a id="next-link" href="/?page=<%= currentPage + 1 %>&sort=<%= currentSort %>">Next page</a>
        <% } %>  
        </div>
      </main>
      <footer><%- include ("addtask"); -%></footer>
    </div>
  </body>
</html>
