<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/0ae8c6af08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/main.css">
    <title>To do</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>To do</h1>
        <p>Date sort: <a href="/?page=<%= currentPage %>&sort=asc">Asc</a> <a href="/?page=<%= currentPage %>&sort=desc">Desc</a></p>
      </header>
      <main>
        <ul>
          <% if (tasks.length > 0) { %>
            <% tasks.forEach((task)=> { %> 
              <% const date = task.dueDate; %>
              <% const year = date.getFullYear(); %>
              <% let month = date.getMonth() + 1; %>
              <% if (month < 10) { month = '0' + month; } %>
              <% let day = date.getDate(); %>
              <% if (day < 10) { day = '0' + day; } %>
              <% let convertedDate = `${year}-${month}-${day}`; %>
              <li>
                <form class="delete-form" action="/delete?id=<%= task.id %>&page=<%= currentPage %>&sort=<%= currentSort %>" method="post">
                  <input type="checkbox" name="checkbox" onChange="this.form.submit()">
                </form>
                <p><%= task.name %></p>
                <div>
                  <p>Due: <%= convertedDate %></p>
                  <div class="task-links">
                  <a href="/edit?id=<%= task.id %>&page=<%= currentPage %>&sort=<%= currentSort %>"><i class="far fa-edit fa-lg"></i></a>
                  <a href="/delete?id=<%= task.id %>&page=<%= currentPage %>&sort=<%= currentSort %>"><i class="fas fa-times-circle fa-lg"></i></a>
                </div>
                </div>
              </li>
            <% });%>
          <% } %>
          <% if (currentPage > totalPages) { %>
            <li>You have no tasks on this page. Please go to previous page.</li>
          <% } %>
          <% if (totalDocuments == 0) { %>
            <li>You have no tasks.</li>
          <% } %>
        </ul>
        <div class="pages-div">
          <% if (currentPage > 1) { %>
            <a href="/?page=<%= currentPage - 1 %>&sort=<%= currentSort %>"><< Previous page</a>
          <% } else { %>
            <div></div>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <a href="/?page=<%= currentPage + 1 %>&sort=<%= currentSort %>">Next page >></a>
          <% } %>  
        </div>      
      </main>
      <footer><%- include ("addtask"); -%></footer>
    </div>
  </body>
</html>